.explore-body {
  color: white;
  margin-left: 18vw;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.explore-body-cards {
  background-color: #151515;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}
.explore-body-cards-acc-info {
  display: flex;
  align-items: center;
}
.explore-body-cards-acc-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.explore-body-cards-acc-info h4 {
  margin: 0;
  font-size: 15px;
}
.explore-body-cards-acc-info h5 {
  margin: 0;
  font-size: 10px;
  color: grey;
}
.post-image {
  max-width: 300px;
  margin-top: 10px;
}
.explore-post-impressions{
  margin-top: 5px;
}
.explore-post-impressions-icon{
  margin-right: 15px !important;
}
.explore-post-caption{
  display: flex;
  margin-top: 10px;
}
.explore-post-caption-quotes{
  margin: 0px 5px !important;
}
