.sidebar-body{
    background-color: #151515;
    top: 60px;
    width: 18vw;
    height: 100vh;
    position: fixed;
    color: white;
    border-right: 1px solid grey;
    padding: 10px 0px;
}

@media screen and (max-width: 1200px){
    .sidebar-body{
        width: 0;
    }
    .side-bar-big{
        display: none;
    }
}